<html>
<head>
  <style>
  </style>
</head>
<body>


<p>
Enter a value to cipher (only downcase letters and spaces) and the number:
</p>
<form>
  <input type='text' name='value_to_cipher' />
  <br />
  <input type='text' name='number_to_cipher'/>
  <br/>
  <input type='submit' value='Cipher!' />
  <br />
  <input type='text' name='output' value = "<%= outpt %>"/>
</form>

</body>
</html>